.RemoveItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FF6107;
    width: 50px;
	height: 40px;
	border-radius: 100px;
	position: fixed;
	z-index: 10;
	bottom: 12%;
	right: 30px;
	cursor: pointer;
}

.label {
	display: none;
}
.RemoveItem:hover {
	background-color: orange;
	padding: 5px;
	width: 150px;
}

.RemoveItem:hover .label {
	display: inline-block;
}