.Logout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FF6107;
	width: 50px;;
	height: 40px;
	border-radius: 100px;
	position: fixed;
	z-index: 10;
	bottom: 28%;
	right: 30px;
	cursor: pointer;
}

.Logout:hover {
	background-color: orange;
	padding: 5px;
	width: 100px;
}

.clipboard-label {
	display: none;
}

.Logout:hover .clipboard-label {
	display: inline-block;
}
