.CartItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FF6107;
	width: 50px;
	height: 40px;
	border-radius: 100px;
	position: fixed;
	z-index: 10;
	bottom: 4%;
	right: 30px;
	cursor: pointer;
}

.CartItem:hover  {
	background-color: orange;
	padding: 5px;
	width: 100px;
}

.CartItem:hover .notif {
	display: inline-block;
	font-size: 12px;
}

.items-count {
	margin-left: 5px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.notif {
	display: none;
}
